@import '../../node_modules/bootstrap/less/variables.less';

.ex-page {
    height: 100%;
    overflow: hidden;

    &__header {
        margin-bottom: 20px;
    }

    &__main {
        height: 100%;
    }

    &__loader {
        margin-top: 40px;
        text-align: center;
    }

    &__name {
        font-size: 1.2em;
        font-weight: bold;
        margin-right: 10px;
    }

    &__description {
        color: @gray;
    }

    &__content {
        height: 100%;
    }

    &__diff {
        height: 100%;

        // this is the only way I know to create 100% height page
        // with header & footer & scrollable content in the middle (without flexbox)
        //
        // The idea: wrapper for scrollable div has padding-bottom
        // of the height of footer + header, so the scrollable div has correct max-height
        // and than margin-bottom: -(padding-bottom) to lift up footer
        // the page has overflow hidden to hide empty space at the bottom
        // for better understanding look at codepen: https://codepen.io/smacker/pen/mXyPQE
        //
        // Calculating height
        // NB!!!! layout will get broken if any of heights change
        //
        // must be sum of everything on top + footer
        // page-header: 50px
        // experiment-header: 23px
        // margins: 20px * 2 + 10px
        // footer: 46+10px
        // borders: 2px
        // 50 + 23 + 40 + 56 + 10 + 2 = 181px
        padding-bottom: 181px;
        // must be -(sum of everything on top + footer - real margin)
        margin-bottom: -171px;
    }

    &__footer {
        padding-bottom: 10px;
    }

    &__oops {
        margin-top: 20px;
        text-align: center;
        font-size: 48px;
    }
}
