// override diff2html styles
.d2h-wrapper {
    max-height: 100%;
}

.d2h-file-wrapper {
    height: 100%;
}

.d2h-file-header {
    display: none;
}

.d2h-file-side-diff {
    max-height: 100%;
    overflow: auto;
    position: relative;
    margin-bottom: -5px;
}
