@import '../../../node_modules/bootstrap/less/variables.less';

.ex-progress {
    display: flex;

    &__percent {
        color: #a0a2a2;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-right: 8px;
        padding-top: 1px;
    }

    &__bar {
        width: 100%;
        padding: 5px 0;

        /* make it smaller */
        .progress {
            height: 10px;
            margin: 0;

            background: #666a6a;
            border-radius: 0;
        }

        .progress-bar {
            background: #a0a2a2;
            background-image: none;
            box-shadow: none;
        }
    }
}
