@import '../../../node_modules/bootstrap/less/variables.less';

.ex-progress {
    display: flex;

    &__percent {
        padding-right: 5px;
    }

    &__bar {
        width: 100%;
        padding: 5px 0;

        /* make it smaller */
        .progress {
            height: 10px;
            margin: 0;
        }
    }
}
